@import 'scss/bootstrap.scss'; // Import Bootstrap

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

// Then, you c

@mixin roboto-font($weight: 400, $size: 16px) {
  font-family: 'Roboto', sans-serif;
  font-weight: $weight;
  font-size: $size;
}

@mixin noto-sans-font($weight: 400, $size: 16px) {
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: $weight;
  font-size: $size;
}

@mixin space-mono-font($weight: 400, $size: 16px) {
  font-family: 'Space Mono', monospace;
  font-weight: $weight;
  font-size: $size;
}

@mixin box-bg-color($color: #a5a5a5) {
  background-color: $color;
}

body {
  font-family: 'Roboto', sans-serif;
}

$page-bg-color: #c2c2c2; // Replace with your desired color
// Define your custom variables
$btn-bg-color: transparent;
$btn-text-color: #060606;
$btn-hover-color: #ff3300;
$btn-active-color: #08d55d;
$btn-disabled-bg-color: #ddd;
$btn-disabled-text-color: #999;
$input-focus-border-color: #ff3300;
$input-focus-box-shadow: #ff3300;

// Override Bootstrap variables
$form-check-input-width: 2em;
$form-check-min-height: $font-size-base * $line-height-base;
$form-check-padding-start: $form-check-input-width + 1em;

$form-check-input-bg: $input-bg;
$form-check-input-border-radius: 1.55em;
$form-check-radio-border-radius: 50%;
$form-check-input-focus-border: $input-focus-border-color;
$form-check-input-focus-box-shadow: $focus-ring-box-shadow;

body {
  background-color: $page-bg-color;
}
.btn {
  @include space-mono-font(400, 16px);
  background-color: $btn-bg-color;
  color: $btn-text-color;
  padding: 0px 0px;
  text-align: center;
  cursor: pointer;
  border: none;
  display: inline-block;

  &:hover {
    color: $btn-hover-color;
    border: none;
  }

  &:active {
    color: $btn-active-color;
  }

  &:disabled {
    background-color: $btn-disabled-bg-color;
    color: $btn-disabled-text-color;
    cursor: not-allowed;
  }

  &:focus {
    outline: none;
    box-shadow: none;
  }
}
.btn-outline {
  background-color: green;
  color: $btn-text-color;
  padding: 0px 0px;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  border: none;

  &:hover {
    color: $btn-hover-color;
    border: none;
  }

  &:active {
    color: $btn-active-color;
  }

  &:disabled {
    background-color: $btn-disabled-bg-color;
    color: $btn-disabled-text-color;
    cursor: not-allowed;
  }

  &:focus {
    outline: none;
    box-shadow: none;
  }
}
::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  text-align: center;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  text-align: center;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  text-align: center;
}

.btn-check:checked + .btn {
  color: $btn-hover-color;
  border: none;
}

.btn-check:not(:checked) + .btn:hover {
  color: $btn-hover-color;
  border: none;
}

.dropdown-menu {
  @include box-bg-color;
  @include space-mono-font(400, 16px);
  color: $btn-text-color;
  text-align: left;
  border: none;
}
.dropdown-item {
  &:active,
  &:focus {
    background-color: $btn-bg-color;
    color: $btn-text-color;
    border: none;
  }
  &:hover {
    background-color: $btn-bg-color;
    color: $btn-hover-color;
    border: none;
  }
}

.menu-box {
  @include box-bg-color;
  padding: 5px;
  margin: 10px 0;
  border-radius: 5px;
  // Add more styling as needed
}

.form-control {
  background-color: $btn-bg-color;
  border: 1px solid $btn-text-color;
  border-color: $btn-text-color;
  border-radius: $input-border-radius;
  color: $input-color;
  padding: $input-padding-y $input-padding-x;
  font-size: $font-size-base;
  line-height: $input-line-height;

  &:focus {
    border-color: $btn-text-color;
    background-color: $btn-bg-color;
    border-width: 2px;
    box-shadow: none;
  }

  &::placeholder {
    color: $input-placeholder-color;
  }

  &:disabled,
  &[readonly] {
    background-color: $input-disabled-bg;
    opacity: 1;
  }
}

.clear-tags-container {
  display: flex;
  justify-content: center;
  width: 100%;
}
.clear-tags-button {
  font-weight: normal;

  &.active {
    font-weight: 800;
    background-color: #777777;
    color: white;
  }
}
